
table {
    border-collapse: collapse;
    width: 100%;
  }

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  tbody tr:nth-child(even) {
    background-color: #e6e6e6; 
  }
  

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
  }
  
  /* Table.css */

/* Add some basic styles for the search input */
.search-container {
  margin: 20px 0;
  text-align: center;
}

.search-container input[type='text'] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the table and pagination */
.dataTable {
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pagination-selected {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 6px 10px;
}

/* Add any additional styling you want */
